In [16]:
import sqlalchemy as sqla
import sys
import time
import pandas as pd
import geopandas as gpd
import numpy as np
import subprocess
#To avoid pandas warnings
import warnings
warnings.filterwarnings('ignore')
#import geometry_processor_dp
# This function is needed to make the geometries compatible with PostGIS
def wkb_hexer(poly):
    return poly.wkb_hex
from geopandas.tools import sjoin

## Connection to DB 2020

In [17]:
# Connect to database 2020
# Chose the DB
db_input_2020 = 'postgres+psycopg2://designproject2020:idiap2020@kaemco.synology.me:5432/SATOM' 

# Create the sqlalchemy engine
db_engine_2020 = sqla.create_engine(db_input_2020) #is taken by pd.read_sql_query function later on

# Test connection
try:
    db_connection = db_engine_2020.connect()
except Exception as exc:
    print("\nCouldn't connect to the database\n")
    try:
        print(exc.message, exc.args)
    except:
        pass
    sys.exit()
        
# If everything goes well, just be happy about it!
    print("\nHooray! We connected to the database!")

## Connection to DB 2021

In [18]:
# Chose the DB
db_input_2021 = 'postgresql://designproject2021:mY%7D%7B%25RD%2A3bJm%222%5BX@kaemco.synology.me:5432/SATOM2021'

# Create the sqlalchemy engine
db_engine_2021 = sqla.create_engine(db_input_2021) #is taken by pd.read_sql_query function later on

# Test connection
try:
    db_connection = db_engine_2021.connect()
except Exception as exc:
    print("\nCouldn't connect to the database\n")
    try:
        print(exc.message, exc.args)
    except:
        pass
    sys.exit()
        
# If everything goes well, just be happy about it!
    print("\nHooray! We connected to the database!")

# Link SATOM data to CityGML (EnergyADE structure)
Need to find a link ogr_fid to gmlid

## Use merged_egid_intersect 
Contains already ogr to gmlid link

In [19]:
merged_egid_intersect = pd.read_sql_query("SELECT gmlid, ogr_fid, EGID FROM city.merged_egid_intersect", db_engine_2021)

In [20]:
ogr_to_gmlid = merged_egid_intersect.drop_duplicates(subset=["gmlid"]).drop(["egid"], axis=1)
ogr_to_gmlid

# One ogr_fid points to several gmlid, as they are elements of geometry belonging to the building

                                           gmlid  ogr_fid
0          _1A5EAF11-F74F-4297-9D23-7CC82254E52D   2981.0
1          _ffda891f-392a-4d14-b34b-aa726c7484fa   2981.0
2      UUID_d77e711e-5d75-4e5c-96cd-8147ca0b0d3c   2981.0
3      UUID_6c58654b-25d9-40f5-9a0f-6fc34ad24f4d   2981.0
4      UUID_4bb137ba-573c-4bf3-bd9a-d983f7c4d36c   2981.0
...                                          ...      ...
67615      _D0178B39-7E6E-439E-BD14-4424BECBBFFB    673.0
67616  UUID_62723213-f32c-4687-a538-694faddc1769   3262.0
67619  UUID_6b2d3181-fd76-4cd3-ace0-00ff0ae78d7b    673.0
67620  UUID_d39d9fd0-868f-40f6-afce-b488ed49ca7f    673.0
67621  UUID_a5d998a7-9321-4381-bc6f-386e0ff9db5e    673.0

[50939 rows x 2 columns]

# TABLES TO CREATE

### nrg8_time_series
- objectclass_id: 202 (regular time series), 203 (irregular time series), 204 (regular timeseries file), 205 (irregular timeseries file)
- gmlid: FK
- values array: array of values for regular time series
- time interval: interval between values in array
- acquisition method: simulation, estimation, measurement...

### Gather energy data in satom

In [21]:
tblcliendatathistory = pd.read_sql_query("SELECT sdbus, datetime_int, datetime_time, cnt1_energy FROM satom.tblcliendatathistory", db_engine_2020)
tblclient = pd.read_sql_query("SELECT sdbus, batiment FROM satom.tblclient", db_engine_2020)
batiments = pd.read_sql_query("SELECT ogr_fid, client, numbat FROM satom.batiments", db_engine_2020)
mega =  pd.read_sql_query("SELECT megabatiment, meganumbat FROM satom.mega", db_engine_2020)

In [22]:
energy_data = pd.merge(tblcliendatathistory, tblclient, on="sdbus", how="left")
energy_data = pd.merge(energy_data, batiments, left_on="batiment", right_on="client", how="left")
energy_data = pd.merge(energy_data, mega, left_on="numbat", right_on="meganumbat", how="left")

In [23]:
energy_data

,sdbus,datetime_int,datetime_time,cnt1_energy,batiment,ogr_fid,client,numbat,megabatiment,meganumbat
0,178,1580410697,2020-01-30 19:58:17,3871340.0,M0756,769.0,M0756,569.0,M0756,569.0
1,178,1580410697,2020-01-30 19:58:17,3871340.0,M0756,769.0,M0756,569.0,CM4068,569.0
2,179,1580410713,2020-01-30 19:58:33,633237.0,M5277,1078.0,M5277,3542.0,M5277,3542.0
3,180,1580410729,2020-01-30 19:58:49,1578680.0,M0990,787.0,M0990,780.0,M0990,780.0
4,181,1580410746,2020-01-30 19:59:06,674709.0,M0872,1139.0,M0872,655.0,M0872,655.0
...,...,...,...,...,...,...,...,...,...,...
14966003,170,1580410597,2020-01-30 19:56:37,310.0,M3792,838.0,M3792,4353.0,NaN,NaN
14966004,170,1580410597,2020-01-30 19:56:37,310.0,M3792,839.0,M3792,4354.0,NaN,NaN
14966005,170,1580410597,2020-01-30 19:56:37,310.0,M3792,840.0,M3792,2379.0,CM2635,2379.0
14966006,170,1580410597,2020-01-30 19:56:37,310.0,M3792,841.0,M3792,2376.0,NaN,NaN
14966007,425,1580410680,2020-01-30 19:58:00,0.0,None,NaN,NaN,NaN,NaN,NaN

In [24]:
# Store values into array for a certain ogr_fid

datetime_arrays = energy_data.groupby('ogr_fid')['datetime_time'].apply(list)
datetime_arrays = pd.DataFrame(datetime_arrays)
cnt1_arrays = energy_data.groupby('ogr_fid')['cnt1_energy'].apply(list)
cnt1_arrays = pd.DataFrame(cnt1_arrays) # Has cumulative values

In [25]:
datetime_arrays

                                             datetime_time
ogr_fid
2.0      [2020-01-31 02:18:25, 2020-01-31 13:48:12, 202...
4.0      [2020-01-30 21:42:59, 2020-01-30 23:43:14, 202...
6.0      [2020-01-30 21:23:31, 2020-01-30 23:23:49, 202...
7.0      [2020-01-30 21:23:31, 2020-01-30 23:23:49, 202...
8.0      [2020-01-30 21:23:31, 2020-01-30 23:23:49, 202...
...                                                    ...
7823.0   [2020-01-30 21:45:22, 2020-01-30 23:45:37, 202...
7824.0   [2020-01-30 21:45:22, 2020-01-30 23:45:37, 202...
7825.0   [2020-01-30 21:45:22, 2020-01-30 23:45:37, 202...
7826.0   [2020-01-30 21:45:22, 2020-01-30 23:45:37, 202...
7827.0   [2020-01-30 21:45:22, 2020-01-30 23:45:37, 202...

[6673 rows x 1 columns]

In [26]:
# Expand list to columns
cnt1_expanded = cnt1_arrays["cnt1_energy"].apply(pd.Series)
cnt1_expanded

,0,1,2,3,4,5,6,7,8,9,...,26048,26049,26050,26051,26052,26053,26054,26055,26056,26057
ogr_fid,,,,,,,,,,,,,,,,,,,,,
2.0,31659.0,31781.0,31887.0,31993.0,31993.0,31993.0,32099.0,32200.0,32200.0,32309.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.0,7306.0,7342.0,7415.0,7472.0,7530.0,7596.0,7648.0,7736.0,7832.0,7929.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6.0,3064120.0,3064650.0,3065600.0,3066040.0,3066500.0,3066980.0,3067470.0,3068190.0,3068700.0,3068920.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7.0,3064120.0,3064650.0,3065600.0,3066040.0,3066500.0,3066980.0,3067470.0,3068190.0,3068700.0,3068920.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8.0,3064120.0,3064650.0,3065600.0,3066040.0,3066500.0,3066980.0,3067470.0,3068190.0,3068700.0,3068920.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7823.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7824.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7825.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7826.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7827.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# Difference between consecutive columns to see increase in consumption
cnt1_diff = cnt1_expanded.diff(periods=1, axis=1)
cnt1_diff

,0,1,2,3,4,5,6,7,8,9,...,26048,26049,26050,26051,26052,26053,26054,26055,26056,26057
ogr_fid,,,,,,,,,,,,,,,,,,,,,
2.0,NaN,122.0,106.0,106.0,0.0,0.0,106.0,101.0,0.0,109.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.0,NaN,36.0,73.0,57.0,58.0,66.0,52.0,88.0,96.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6.0,NaN,530.0,950.0,440.0,460.0,480.0,490.0,720.0,510.0,220.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7.0,NaN,530.0,950.0,440.0,460.0,480.0,490.0,720.0,510.0,220.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8.0,NaN,530.0,950.0,440.0,460.0,480.0,490.0,720.0,510.0,220.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7823.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7824.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7825.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7826.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7827.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Rewrite rows to list and store in dataframe
list_energy = cnt1_diff.values.tolist()

cnt_df = []
cnt_df.append(list_energy)
cnt_df = pd.DataFrame(cnt_df).transpose()
cnt_df["ogr_fid"] = cnt1_arrays.index

In [ ]:
cnt_df

In [ ]:
# Create table nrg8_time_series

nrg8_time_series = {"id": [], "objectclass_id": [],"gmlid": [] ,"values_unit": [] ,"time_interval": [] , "time_interval_unit": [], "acquisition_method":[], "interpolation_type":[]}
nrg8_time_series = pd.DataFrame(nrg8_time_series)
nrg8_time_series["gmlid"] = ogr_to_gmlid["gmlid"]
nrg8_time_series["ogr_fid"] = ogr_to_gmlid["ogr_fid"] #add temporarily to insert energy data
nrg8_time_series = nrg8_time_series.merge(datetime_arrays, on="ogr_fid", how="left")
nrg8_time_series = nrg8_time_series.merge(cnt_df, on="ogr_fid", how="left")

row_nbr = len(nrg8_time_series["gmlid"])
nrg8_time_series["objectclass_id"] = pd.DataFrame(np.repeat(203, row_nbr)) #irregular time series
nrg8_time_series["id"] = pd.DataFrame(np.arange(row_nbr))
nrg8_time_series["acquisition_method"] = pd.DataFrame(np.repeat('Measurement', row_nbr))
nrg8_time_series["interpolation_type"] = pd.DataFrame(np.repeat('AverageInSucceedingInterval', row_nbr)) #to change
nrg8_time_series = nrg8_time_series.rename(columns= {0:'values_array'})

nrg8_time_series["values_unit"] = pd.DataFrame(np.repeat('kWh', row_nbr))

nrg8_time_series.head()

In [ ]:
nrg8_time_series = nrg8_time_series.drop(["ogr_fid"], axis=1).rename(columns={'datetime_time':'time_array'})

# TEST FOR YEARLY

In [28]:
# Expand time list to columns --> we want to see 2019 timestamps
time_expanded = datetime_arrays["datetime_time"].apply(pd.Series)

In [29]:
cnt1_diff

,0,1,2,3,4,5,6,7,8,9,...,26048,26049,26050,26051,26052,26053,26054,26055,26056,26057
ogr_fid,,,,,,,,,,,,,,,,,,,,,
2.0,NaN,122.0,106.0,106.0,0.0,0.0,106.0,101.0,0.0,109.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.0,NaN,36.0,73.0,57.0,58.0,66.0,52.0,88.0,96.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6.0,NaN,530.0,950.0,440.0,460.0,480.0,490.0,720.0,510.0,220.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7.0,NaN,530.0,950.0,440.0,460.0,480.0,490.0,720.0,510.0,220.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8.0,NaN,530.0,950.0,440.0,460.0,480.0,490.0,720.0,510.0,220.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7823.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7824.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7825.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7826.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7827.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
#time_expanded.loc[767, :25266]

In [31]:
#time_expanded.iloc[:50, 235:]

In [32]:
#time_expanded.iloc[:,239:25266]

In [33]:
# Keep only where not NaT (in column) or not NaN (in column)
time_expanded = time_expanded.iloc[:,238:25267]
cnt1_diff = cnt1_diff.iloc[:,238:25267]

In [34]:
# Fix index: put gmlid as index
time_expanded = time_expanded.reset_index().rename(columns={"index": "ogr_fid"})
time_expanded = pd.merge(time_expanded, ogr_to_gmlid, on='ogr_fid', how="left")
new_idx = time_expanded["gmlid"]
time_expanded = time_expanded.rename(index=new_idx).drop(["ogr_fid", "gmlid"], axis=1)

In [35]:
cnt1_diff = cnt1_diff.reset_index().rename(columns={"index": "ogr_fid"})
cnt1_diff = pd.merge(cnt1_diff, ogr_to_gmlid, on='ogr_fid', how="left")
new_idx = cnt1_diff["gmlid"]
cnt1_diff = cnt1_diff.rename(index=new_idx).drop(["ogr_fid", "gmlid"], axis=1)

In [36]:
time_expanded

,238,239,240,241,242,243,244,245,246,247,...,25257,25258,25259,25260,25261,25262,25263,25264,25265,25266
_b0d8c8ac-0fe4-46d1-80b0-053faccb06de,2020-03-09 15:24:54,2019-11-05 10:05:12,2019-11-05 10:10:18,2019-11-05 10:14:53,2019-11-05 13:28:06,2019-11-05 15:28:58,2019-11-05 19:29:18,2019-11-05 23:00:16,2019-11-06 03:30:23,2019-11-06 07:01:19,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
UUID_5f22b47b-766e-4ea7-bc56-3d637f1426f2,2020-03-09 15:24:54,2019-11-05 10:05:12,2019-11-05 10:10:18,2019-11-05 10:14:53,2019-11-05 13:28:06,2019-11-05 15:28:58,2019-11-05 19:29:18,2019-11-05 23:00:16,2019-11-06 03:30:23,2019-11-06 07:01:19,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
UUID_d502ee79-7fd7-4016-838e-694d25c1027b,2020-03-09 15:24:54,2019-11-05 10:05:12,2019-11-05 10:10:18,2019-11-05 10:14:53,2019-11-05 13:28:06,2019-11-05 15:28:58,2019-11-05 19:29:18,2019-11-05 23:00:16,2019-11-06 03:30:23,2019-11-06 07:01:19,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
UUID_b1732c35-42a5-4b73-93c7-af630c2882f3,2020-03-09 15:24:54,2019-11-05 10:05:12,2019-11-05 10:10:18,2019-11-05 10:14:53,2019-11-05 13:28:06,2019-11-05 15:28:58,2019-11-05 19:29:18,2019-11-05 23:00:16,2019-11-06 03:30:23,2019-11-06 07:01:19,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
_61AD2D6C-1798-450F-B2EC-B5CE01BAAA26,2020-03-09 15:24:54,2019-11-05 10:05:12,2019-11-05 10:10:18,2019-11-05 10:14:53,2019-11-05 13:28:06,2019-11-05 15:28:58,2019-11-05 19:29:18,2019-11-05 23:00:16,2019-11-06 03:30:23,2019-11-06 07:01:19,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
_9594BC65-E99B-4179-9FC5-E131AA899E11,2020-02-28 21:20:17,2020-02-28 23:34:56,2020-02-29 01:49:13,2020-02-29 04:03:55,2020-02-29 06:51:46,2020-02-29 08:51:48,2020-02-29 10:53:03,2020-02-29 13:07:25,2020-02-29 15:22:01,2020-02-29 17:36:41,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
UUID_907a7230-3aa9-46c3-bf4d-b24151fa567b,2020-02-28 21:20:17,2020-02-28 23:34:56,2020-02-29 01:49:13,2020-02-29 04:03:55,2020-02-29 06:51:46,2020-02-29 08:51:48,2020-02-29 10:53:03,2020-02-29 13:07:25,2020-02-29 15:22:01,2020-02-29 17:36:41,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
UUID_37aa1b36-59c6-4b91-818a-921a1763c682,2020-02-28 21:20:17,2020-02-28 23:34:56,2020-02-29 01:49:13,2020-02-29 04:03:55,2020-02-29 06:51:46,2020-02-29 08:51:48,2020-02-29 10:53:03,2020-02-29 13:07:25,2020-02-29 15:22:01,2020-02-29 17:36:41,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
UUID_2d93b1b0-4e6f-4567-adf5-cd1b3249b798,2020-02-28 21:20:17,2020-02-28 23:34:56,2020-02-29 01:49:13,2020-02-29 04:03:55,2020-02-29 06:51:46,2020-02-29 08:51:48,2020-02-29 10:53:03,2020-02-29 13:07:25,2020-02-29 15:22:01,2020-02-29 17:36:41,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
UUID_be5c772d-1611-4586-88e5-04d5460450bc,2020-02-28 21:20:17,2020-02-28 23:34:56,2020-02-29 01:49:13,2020-02-29 04:03:55,2020-02-29 06:51:46,2020-02-29 08:51:48,2020-02-29 10:53:03,2020-02-29 13:07:25,2020-02-29 15:22:01,2020-02-29 17:36:41,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [45]:
time_year = pd.DataFrame()
ncols = len(time_expanded.columns.tolist())

for i in range(ncols):
    time_year[i] = [d.year for d in time_expanded.iloc[:,i]]  
    #time_year[i] = time[i].to_numeric(downcast='int')    

time_year

,0,1,2,3,4,5,6,7,8,9,...,25019,25020,25021,25022,25023,25024,25025,25026,25027,25028
0,2020,2019,2019,2019,2019,2019,2019,2019,2019,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020,2019,2019,2019,2019,2019,2019,2019,2019,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020,2019,2019,2019,2019,2019,2019,2019,2019,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020,2019,2019,2019,2019,2019,2019,2019,2019,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020,2019,2019,2019,2019,2019,2019,2019,2019,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43017,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43018,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43019,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43021,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
time_year.to_csv('years.csv')

In [48]:
idx_2019 = time_year[time_year==2019]

In [52]:
idx_2019_search = idx_2019.notnull()

In [66]:
i, c = np.where(time_year != 2019)

In [ ]:
for j in range(len(i)):
    cnt1_diff.iloc[i[j],c[j]] = np.nan

In [ ]:
yearly_energy = cnt1_diff.sum(axis=1, skipna=True)

gmlid_to_egid = merged_egid_intersect.drop_duplicates(subset=["gmlid"]).drop(["ogr_to_fid"], axis=1)


energy_egid = pd.merge(yearly_energy, gmlid_to_egid, left_index=True, right_on="gmlid").drop_duplicates(["egid"], keep='first')
energy_egid

energy_egid.to_csv("annual_output.csv")

In [56]:
cnt1_diff_2019 = cnt1_diff.loc[time_year==2019]

ValueError: Cannot index with multidimensional key

In [55]:
# Stack on gmlid --> put dataframe into a column
time_expanded = pd.DataFrame(time_expanded.stack())
time_expanded.reset_index(inplace=True)
time_expanded = time_expanded.rename(columns={'level_0':'gmlid', 0:'timestamp'}).drop(["level_1"], axis=1)

In [ ]:
# Stack on gmlid --> put dataframe into a column
cnt1_diff = pd.DataFrame(cnt1_diff.stack())
cnt1_diff.reset_index(inplace=True)
cnt1_diff = cnt1_diff.rename(columns={'level_0':'gmlid', 0:'energy'}).drop(["level_1"], axis=1)

In [ ]:
# Put time and energy together, then drop NaN
time_expanded["energy"] = cnt1_expanded["energy"]
time_expanded = time_expanded.dropna()

In [ ]:
## Computing year for each timestamp
# Convert timestamps to year
time_expanded['year'] = [d.year for d in time_expanded.iloc[:,1]]

In [ ]:
# Drop where not 2019
to_drop = time_expanded[time_expanded['year']!=2019].index
time_expanded = time_expanded.drop(index = to_drop, axis=1)

In [ ]:
# Then group by gmlid, sum, use that as annual value,

# Calculate yearly energy values (2019)

In [ ]:
# Expand time list to columns --> we want to see 2019 timestamps
time_expanded = datetime_arrays["datetime_time"].apply(pd.Series)
time_expanded

In [ ]:
 # Now to create total uearly consumption in 2019, need to keep only values in 2019

# list of indexes to iterate through
rows = time_expanded.index.values.tolist()
cols = time_expanded.columns.values.tolist()

time_expanded_years = [time_expanded.loc[x,y].year for x, y in zip(rows,cols)]
time_expanded_years = pd.DataFrame(time_expanded_years)

# Register row values where 2019 
idx_2019 = np.where(time_expanded_years==2019)

# Sum the energy values where the year was 2019
yearly_energy = cnt1_expanded.iloc[idx_2019].sum(axis = 1, skipna = True)
yearly_energy = pd.DataFrame(yearly_energy)
yearly_energy

In [ ]:
# Link total energy values to gmlid 
energy_gmlid = pd.merge(yearly_energy, ogr_to_gmlid, on="ogr_fid", how="left").drop_duplicates(["gmlid"])
energy_gmlid 

# Several gmlid belonging to same building point to an sdbus and therefore a tot_energy value

In [ ]:
# The tot_energy needs to be typ numeric[] (list) in DB, so convert
list_values = list(map(lambda el:[el], energy_gmlid.iloc[:,1].values.tolist()))
energy_list = []
energy_list.append(list_values)
energy_list = pd.DataFrame(energy_list).transpose()
energy_list

In [ ]:
# Create table to add to annual_values for nrg8_time_serie
annual_values =  {"id": [], "objectclass_id": [],"gmlid": [] ,"values_array":[], "values_unit": [] ,"time_interval": [] , "time_interval_unit": [], "acquisition_method":[], "interpolation_type":[]}
annual_values = pd.DataFrame(annual_values)
annual_values["gmlid"] = energy_gmlid["gmlid"]
annual_values["ogr_fid"] = energy_gmlid["ogr_fid"] #add temporarily to insert energy data

row_nbr_start = pd.read_sql_query("SELECT COUNT(id) FROM citydb.nrg8_time_series", db_engine_2021) #Last line in current table in DB
row_nbr = len(annual_values["gmlid"]) 
row_nbr_stop = row_nbr_start + 1 + row_nbr 

annual_values["objectclass_id"] = pd.DataFrame(np.repeat(202, row_nbr)) #regular time series
annual_values["id"] = pd.DataFrame(np.arange(row_nbr_start.iloc[0,0] + 1, row_nbr_stop.iloc[0,0])) 
annual_values["acquisition_method"] = pd.DataFrame(np.repeat('Measurement', row_nbr))

annual_values["values_array"] = energy_list
annual_values["values_unit"] = pd.DataFrame(np.repeat('W', row_nbr)) #check if this value is correct 
annual_values["time_interval"] = pd.DataFrame(np.repeat(1, row_nbr))
annual_values["time_interval_unit"] = pd.DataFrame(np.repeat('year', row_nbr))
annual_values = annual_values.drop(["ogr_fid"], axis=1)
annual_values["interpolation_type"] = pd.DataFrame(np.repeat('PrecedingTotal', row_nbr)) #to check

annual_values

## Insert into database

In [ ]:
nrg8_time_series.to_sql(name='nrg8_time_series', con = db_engine_2021, if_exists='append', index=False)

In [ ]:
db_connection.close()

In [ ]:
annual_values.to_sql(name='nrg8_time_series', con = db_engine_2021, if_exists='append', index=False)
db_connection.close()

# --------------------------
# OLD CODE

## Option 1: use cross_reference

In [ ]:
# cross_reference contains building_root_id, egid, satom_building_id (ogr_fid)
cross_reference = pd.read_sql_query("SELECT * FROM citydb.cross_reference", db_engine_2020).drop_duplicates()

# builidng has (building)id (FK to cityobject) and building_root_id
building = pd.read_sql_query("SELECT id, building_root_id FROM citydb.building", db_engine_2021)

# cityobject has (cityobject)id and gmlid
cityobject = pd.read_sql_query("SELECT id, gmlid FROM citydb.cityobject", db_engine_2021)

# Merge all tables to link satom_building_id to gmlid through the root_id
root_gmlid = pd.merge(cityobject, building, on="id", how="left")

# We have cross reference, with unique rows. We want to merge on root_id to add the gmlid 
ogr_to_gmlid = pd.merge(cross_reference, root_gmlid, on="building_root_id", how="left").dropna().drop_duplicates().rename(columns={'satom_building_id': 'ogr_fid'}).drop(['id'], axis=1)

In [ ]:
ogr_to_gmlid

Some ogr_fid point to several gmlid 
- to check: what does gmlid correspond to

## Option 2

In [ ]:
# batimenttranslate contains the footprint shape of each builidng ogr_fid
batimenttranslate = gpd.read_postgis("SELECT ogr_fid, shape FROM satom.batimenttranslate", db_engine_2021, geom_col="shape")

In [ ]:
batimenttranslate.to_file("batim.shp")

In [ ]:
#cityobject contains all the geometries
cityobject =  gpd.read_postgis("SELECT gmlid, envelope FROM citydb.cityobject", db_engine_2021, geom_col="envelope")

In [ ]:
cityobject.to_file("city.shp")

In [ ]:
# Merge on the geometries 
ogr_to_gmlid = gpd.sjoin(cityobject, batimenttranslate, how="right", op="within")

In [ ]:
ogr_to_gmlid.dropna(subset=["gmlid"])

In [ ]:
db_connection.close()

## Option 3: batiments and mega

In [ ]:
batiments = pd.read_sql_query("SELECT ogr_fid, numbat FROM satom.batiments", db_engine_2021)

In [ ]:
mega = pd.read_sql_query("SELECT megaegid, meganumbat FROM satom.mega", db_engine_2021)

In [ ]:
merged = pd.merge(batiments, mega, left_on="numbat", right_on="meganumbat", how="left")

In [ ]:
merged.dropna(subset=["megaegid"])

### Energy total calculation

In [ ]:
# The tot_energy needs to be typ numeric[] (list) in DB, so convert
list_values = list(map(lambda el:[el], annual_values["values_array"].values.tolist()))
energy_list = []
energy_list.append(list_values)
energy_list = pd.DataFrame(energy_list).transpose()
energy_list